*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  
  width: 100vw;
  height: 100vh;
}

.budget{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  height: 90%;
  margin-top: 20px;
}
.formsCointainer{
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

.formWrapper{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.balance{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 1%;
}

/* p{
  margin-left: 75px;
} */
.btn{

  
  width: 75px;
  height: 38px;
  color: black;
  font-size: large;
  margin-left: 73px;
}

.green{
  background-color: green;
}

.red{

  background-color: red;
}


/* .bCircle{
  width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid;
} */

.bAmount{

  /* margin-top: 47px;
  margin-left: 59px; */
  font-size: 47px;
}

.incomeTotal{

  color: green;
}

.expenseTotal{
  color: red;
}