*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.budget{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 95%;
  height: 95%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.formsCointainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

.formWrapper{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.balance{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 1%;
}

/* p{
  margin-left: 75px;
} */
.btn{
  width: 85px;
  height: 38px;
  color: black;
  font-size: large;
  margin-left: 10px;
  border-radius: 4px;
}

.green{
  background-color: rgb(87, 154, 87);
}

.red{

  background-color: rgb(240, 105, 105);
}


/* .bCircle{
  width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid;
} */

.bAmount{

   margin-top: 17px;
  /*margin-left: 59px; */
  font-size: 47px;
}

.incomeTotal{

  color: green;
}

.expenseTotal{
  color: red;
}